* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-size: 16px;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 6rem;
    border-bottom: 3px solid #A9508B;
    background-color: #35424a
}

.nav-bar {
    display: flex;
    justify-content: space-around;
    color: #fff;

}

ul {
    display: flex;
    list-style: none;
    padding-left: 2rem;
}

li {
    padding-left: 2rem;
    font-size: 1.5rem;
}

h2 {
    font-size: 2rem;
    color: #fff;
}

span {
    color: #A9508B;
}

li:nth-of-type(3) {
    text-decoration: underline #fff;
    color: #A9508B;
    cursor: pointer;
}

a {
    color: #fff;
    text-decoration: none;

}


/* MAIN CONTENT */


.subscribe-area {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 8rem;
    background-color: #35424a;
    color: #fff;
}

h4 {
    font-size: 1.5rem;
}

#email {
    height: 2.5rem;
    width: 15rem;
    padding-left: 1rem;
}

.button {
    height: 2.5rem;
    width: 7.5rem;
    background-color: #A9508B;
    border: none;
    color: #fff;
}

.cards {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 5vh;
    row-gap: 5px;
    column-gap: 5vh;
    margin: 0 10rem;
}

.card-1,
.card-2 {
    background-color: lightgrey;
    padding: 5vh;
}

.card-3 {
    grid-row: 3/4;
    grid-column: 1/2;
    background-color: lightgrey;
    padding: 5vh;
}

.card-4 {
    grid-row: 1/3;
    grid-column: 2/3;
    background-color: #35424a;
    padding: 5vh;
    color: #fff;
}

.form-group2 label {
    display: block;
    width: 100%;
}

.form-group2 input {
    display: block;
    width: 100%;
    height: 2.5rem;
    padding-left: 1rem;
    margin: 0.5rem 0;
    color: #fff;
}

textarea {
    width: 100%;
    height: 5rem;
}

.service-button {
    background-color: #A9508B;
    border: none;
    color: #fff;

}

/*FOOTER*/
footer {
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 250, 240);
}

#img-logo {
    width: 18rem;
}

.services-title {
    margin-left: 14rem;
    margin-top: 2rem;
}