* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-size: 16px;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 6rem;
    border-bottom: 3px solid #A9508B;
    background-color: #35424a
}

.nav-bar {
    display: flex;
    justify-content: space-around;
    color: #fff;

}

ul {
    display: flex;
    list-style: none;
    padding-left: 2rem;
}

li {
    padding-left: 2rem;
    font-size: 1.5rem;
}

li:hover {
    text-decoration: underline;
}

h2 {
    font-size: 2rem;
    color: #fff;
}

span {
    color: #A9508B;
}

li:nth-of-type(1) {
    text-decoration: underline #fff;
    color: #A9508B;
    cursor: pointer;
}

a {
    color: #fff;
    text-decoration: none;

}


/* MAIN CONTENT */

.title-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 63vh;
    background-image: url(images/showcase.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

h1 {
    margin-bottom: 3rem;
    font-size: 3.5rem;
}

.subscribe-area {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 8rem;
    background-color: #35424a;
    color: #fff;
}

h4 {
    font-size: 1.5rem;
}

#email {
    height: 2.5rem;
    width: 15rem;
    padding-left: 1rem;
}

.button {
    height: 2.5rem;
    width: 7.5rem;
    background-color: #A9508B;
    border: none;
    color: #fff;
}

.logo-area {
    height: 24rem;
    display: flex;
    justify-content: space-around;
    align-content: center;
    border-bottom: 3px solid #A9508B;
}

.logo {
    width: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

img {
    min-width: 100px;
    width: 10%;
}

.logo img,
.logo h4 {
    padding-bottom: 2rem;
}

.logo p {
    text-align: center;
}

/*FOOTER*/
footer {
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 250, 240);
}

#img-logo {
    width: 18rem;
}
